$base-color: #9CE9EA;
$dark-color: rgb(49, 57, 68);
$light-color: #AAFEFF;
$offset-color-light: rgb(228, 238, 252);
$offset-color-dark: rgba(74, 142, 235, 0.25);

$text-color: #000000;
$offset-text-color: rgb(33, 66, 111);

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

body {
  font-family: "Open Sans", system-ui, sans-serif;
  font-size: 1rem;
  background-color: $dark-color;
  line-height: 1.7;

  main {
    @media screen and (min-width: 39.99em) {
      flex-flow: column wrap;
    }

    @media screen and (min-width: 52em) {
      margin: 2.5rem auto;
    }

    @media screen {
      border-radius: 2px;
      max-width: 60rem;
      box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
      min-height: 1200px;
    }

    background: rgb(255, 255, 255) none repeat scroll 0 0;
    color: rgb(19, 68, 135);
    display: flex;
    flex-flow: nowrap;
    -moz-box-pack: justify;
  }

  section {
    &.main {
      @media (min-width: 64em) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
      }

      @media (min-width: 40em) {
        width: 66.6667%;
      }

      align-self: stretch;
      padding: 1.5rem 1.7rem;
      background-color: $light-color;

      h2 {
        color: $offset-text-color;
        font-size: 1.333rem;
        line-height: 1.22;
        margin-bottom: 1.11rem;
        display: inline-block;
        margin-top: 0;
        position: relative;
        z-index: 1;

        &::after {
          content: " ";
          background-color: $offset-color-dark;
          display: inline-block;
          width: 100%;
          height: 10px;
          position: absolute;
          z-index: -1;
          top: 15px;
          left: 12px;
        }
      }
    }

    &.information {
      @media (min-width: 64em) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
      }

      @media (min-width: 40em) {
        width: 33.3333%;
      }

      align-self: stretch;
      padding: 1.5rem 1.7rem;
      background-color: $offset-color-light;

      header {
        .title {
          @media (min-width: 40em) {
            margin-bottom: 1.77rem;
            max-width: 15rem;
          }

          line-height: 1.22;
          font-size: 2rem;
          margin: 0;
          color: $offset-text-color;
        }
      }

      .subtitle {
        font-size: 1.33rem;
        color: rgb(75, 116, 172);
      }

      footer {
        ul.contact {
          list-style: none;
          margin: 0;
          padding: 0;
          font-style: normal;
          font-size: 0.9rem;
          font-weight: 400;

          li {
            margin-bottom: 14px;
            display: flex;
            -moz-box-align: center;
            align-items: center;
            text-overflow: ellipsis;

            .contact-icon {
              width: 18px;
              min-width: 18px;
              margin-right: 16px;
            }

            a {
              flex: 1 1 0;
              transition: color 0.15s ease-out 0s;
              line-height: 1.3;
              text-overflow: ellipsis;
              max-width: 100%;
              display: block;
              overflow: hidden;
              white-space: nowrap;
              color: rgb(75, 115, 172);

              &:visited {
                color: rgb(75, 115, 172);
              }
            }
          }
        }
      }

      hr {
        border-color: rgb(175, 204, 244);
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  p {
    font-size: 0.83rem;
    margin-top: 0;
    margin-bottom: 1.6667rem;
  }
}

ul.experience-list {
  list-style: none;
  margin: 10px 0;
  padding: 0;

  li.experience-entry {
    margin: 7px 0 0;
    padding: 0;

    div.work-title {
      display: flex;
      -moz-box-align: center;
      align-items: center;
      font-size: 0.87rem;
      font-weight: 600;

      img.work-icon {
        width: 34px;
        margin-right: 16px;
      }

      .intermediate-circle {
        width: 16px;
        padding-right: 4px;
        margin-left: 8px;
        margin-right: 26px;
        display: inline-flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
        flex-shrink: 0;
        color: rgb(116, 161, 224);

        svg {
          width: 8px;
          fill: rgb(191, 212, 241);
        }
      }

      small {
        color: rgb(116, 161, 224);
      }

      h3 {
        font-family: "Open Sans", system-ui, sans-serif;
        margin: 0 0 4px;
        font-size: 0.89rem;
        line-height: 1;
        font-weight: 600;
      }
    }

    &:last-of-type div.work-content {
      border-left: none;
    }

    div.work-content {
      font-size: 0.8em;
      margin: 8px 0 0 14px;
      padding: 0 0 6px 34px;
      border-left: 2px solid rgb(191, 212, 241);
    }
  }
}

a, a:visited {
  font-weight: 600;
  color: rgb(25, 118, 210);
  text-decoration: none;
  transition: color 0.3s ease-out 0s;

  .subtle, .subtle:visited {
    font-weight: inherit;
    color: inherit;
  }
}

p.key-techs {
  margin-top: -10px;
  font-size: 0.66667rem;
}

hr {
  border: 1px solid currentcolor;
  margin: -1px 0px;
}